mule2/examples/mule2-module-smooks-examples-edi-to-java/src/main/resources/META-INF/mule-module-smooks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.muleforge.org/schema/mule/module/smooks/1.0"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		xmlns:spring="http://www.springframework.org/schema/beans"
    		xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
			targetNamespace="http://www.muleforge.org/schema/mule/module/smooks/1.0"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

	<xsd:element name="smooks-router" type="smooksOutboundRouterType"
                 substitutionGroup="mule:abstract-outbound-router"/>
	<xsd:complexType name="smooksOutboundRouterType">
		<xsd:complexContent>
			<xsd:extension base="mule:filteringOutboundRouterType">
				<xsd:attribute name="honorSynchronicity"
					type="mule:substitutableBoolean" />
				<xsd:attribute name="smooksConfigFile"
					type="mule:substitutableName">
				</xsd:attribute>
				<xsd:attribute name="reportPath"
					type="mule:substitutableName">
				</xsd:attribute>
				<xsd:attribute name="executionContextAsMessageProperty"
					type="mule:substitutableBoolean">
				</xsd:attribute>
				<xsd:attribute name="executionContextMessagePropertyKey"
					type="xsd:NMTOKEN">
				</xsd:attribute>
				<xsd:attribute name="excludeNonSerializables" type="mule:substitutableBoolean"></xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="smooks-transformer" type="smooksTransformerType"
                 substitutionGroup="mule:abstract-transformer"/>
	<xsd:complexType name="smooksTransformerType">
		<xsd:complexContent>
			<xsd:extension base="mule:abstractTransformerType">
				<xsd:attribute name="smooksConfigFile"
					type="mule:substitutableName">
				</xsd:attribute>
				<xsd:attribute name="reportPath"
					type="mule:substitutableName">
				</xsd:attribute>
				<xsd:attribute name="executionContextAsMessageProperty"
					type="mule:substitutableBoolean">
				</xsd:attribute>
				<xsd:attribute name="executionContextMessagePropertyKey"
					type="xsd:NMTOKEN">
				</xsd:attribute>
				<xsd:attribute name="excludeNonSerializables"
					type="mule:substitutableBoolean">
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>