mule2/core/src/main/resources/META-INF/mule-module-smooks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.muleforge.org/smooks/schema/mule-module-smooks/1.0"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    		xmlns:spring="http://www.springframework.org/schema/beans"
    		xmlns:mule="http://www.mulesource.org/schema/mule/core/2.0"
			targetNamespace="http://www.muleforge.org/smooks/schema/mule-module-smooks/1.0"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.0"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.0/mule.xsd" />

	<xsd:element name="router" type="smooksOutboundRouterType" substitutionGroup="mule:abstract-outbound-router">
		<xsd:annotation>
            <xsd:documentation>
                A router that uses Smooks for the routing.
            </xsd:documentation>
        </xsd:annotation>
	</xsd:element>
	<xsd:complexType name="smooksOutboundRouterType">
		<xsd:complexContent>
			<xsd:extension base="mule:filteringOutboundRouterType">
				<xsd:attribute name="configFile" type="xsd:string" use="required" />
				<xsd:attribute name="reportPath" type="xsd:string"/>
				<xsd:attribute name="executionContextAsMessageProperty"	type="mule:substitutableBoolean"/>
				<xsd:attribute name="executionContextMessagePropertyKey" type="xsd:string"/>
				<xsd:attribute name="excludeNonSerializables" type="mule:substitutableBoolean"/>
                <xsd:attribute name="honorSynchronicity" type="mule:substitutableBoolean"/>
            </xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="transformer" type="smooksTransformerType" substitutionGroup="mule:abstract-transformer">
		<xsd:annotation>
            <xsd:documentation>
                A transformer that uses Smooks for the transformation
            </xsd:documentation>
        </xsd:annotation>
	</xsd:element>
	<xsd:complexType name="smooksTransformerType">
		<xsd:complexContent>
			<xsd:extension base="mule:abstractTransformerType">
				<xsd:attribute name="configFile" type="xsd:string" use="required" />
				<xsd:attribute name="reportPath" type="xsd:string" />
				<xsd:attribute name="executionContextAsMessageProperty"	type="mule:substitutableBoolean" />
				<xsd:attribute name="executionContextMessagePropertyKey" type="mule:substitutableName" />
				<xsd:attribute name="excludeNonSerializables"	type="mule:substitutableBoolean"/>
				<xsd:attribute name="javaResultBeanId" type="mule:substitutableName" />
				<xsd:attribute name="resultType" type="resultTypeType" use="optional" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="resultTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STRING"></xsd:enumeration>
			<xsd:enumeration value="BYTES"></xsd:enumeration>
			<xsd:enumeration value="JAVA"></xsd:enumeration>
			<xsd:enumeration value="NORESULT"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>