mule3/core/src/main/resources/META-INF/mule-module-smooks-1.3.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
	<!--
		Copyright (C) 2008 Maurice Zeijen <maurice@zeijen.net> Licensed under
		the Apache License, Version 2.0 (the "License"); you may not use this
		file except in compliance with the License. You may obtain a copy of
		the License at http://www.apache.org/licenses/LICENSE-2.0 Unless
		required by applicable law or agreed to in writing, software
		distributed under the License is distributed on an "AS IS" BASIS,
		WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
		implied. See the License for the specific language governing
		permissions and limitations under the License.
	-->
<xsd:schema
	xmlns="http://www.muleforge.org/smooks/schema/mule-module-smooks"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:mule="http://www.mulesoft.org/schema/mule/core"
	targetNamespace="http://www.muleforge.org/smooks/schema/mule-module-smooks"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"/>
	<xsd:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd" />

	<xsd:element name="router" type="smooksOutboundRouterType"
		substitutionGroup="mule:abstract-outbound-router">
		<xsd:annotation>
			<xsd:documentation>An outbound router that uses Smooks to split the message and dispatch the splitted messages to the registered endpoints. Use the org.milyn.smooks.mule.FragmentRouter visitor (DOM and SAX) to dispatch the messages to the endpoints.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="smooksOutboundRouterType">
		<xsd:complexContent>
			<xsd:extension base="mule:multipleEndpointFilteringOutboundRouterType">
				<xsd:attribute name="configFile" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:documentation>The Smooks configuration file. Can be a path on the file system or on the classpath. </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="profile" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The Smooks profile to execute. If a profile name was found on the message then that one is used.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="profileMessagePropertyKey" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation> The message property to look for a possible profile name. If the property is set and the value is a string then that value is used as profile name. Default "MessageProfile".</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="executionContextAsMessageProperty"
					type="mule:substitutableBoolean">
					<xsd:annotation>
						<xsd:documentation>If set to &quot;true&quot; then the attributes map of the Smooks execution context is added to the message properties. The property key is defined with the executionContextMessagePropertyKey property. Default is &quot;false&quot; </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="executionContextMessagePropertyKey" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The property key under which the execution context is put. Default is &quot;SmooksExecutionContext&quot; </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="excludeNonSerializables" type="mule:substitutableBoolean">
					<xsd:annotation>
						<xsd:documentation>If non serializable attributes need to be execluded when setting the Smooks execution context attribute map as a message propeperty. Default is "true" </xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
                <xsd:attribute name="reportPath" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>Specifies the path and file name for generating a Smooks Execution Report.  This is a development tool. For more information see the Smooks reporting section in the Smook manual.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
            </xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="transformer" type="smooksTransformerType" substitutionGroup="mule:abstract-transformer">
		<xsd:annotation>
			<xsd:documentation>A transformer that uses Smooks for the transformation.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="smooksTransformerType">
		<xsd:complexContent>
			<xsd:extension base="mule:abstractTransformerType">
				<xsd:attribute name="configFile" type="xsd:string"
					use="required">
					<xsd:annotation>
						<xsd:documentation>
							The Smooks configuration file. Can be a path
							on the file system or on the classpath.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="resultType" type="resultTypeType"
					use="optional">
					<xsd:annotation>
						<xsd:documentation>
							The type of result expected from Smooks
							("STRING", "BYTES", "JAVA", "RESULT",
							"NORESULT"). When setting the value to "JAVA" then
							you can set the "javaResultBeanId" attribute.
							When setting the value to "RESULT" then
							one of the "resultClass" or "resultFactoryClass"
							attributes must also be set.
							Default is "STRING".
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="javaResultBeanId"
					type="mule:substitutableName">
					<xsd:annotation>
						<xsd:documentation>
							The BeanId from which the Object is used as
							message payload if the resultType is set to
							"JAVA".
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="resultClass"
					type="mule:substitutableName">
					<xsd:annotation>
						<xsd:documentation>
							When the resultType is set to "RESULT" then
							this attribute defines the Result Class
							which will be used. The class must implement
							the "javax.xml.transform.Result" interface
							and must have an argumentless constructor.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="resultFactoryClass"
					type="mule:substitutableName">
					<xsd:annotation>
						<xsd:documentation>
							When the resultType is set to "RESULT" then
							this attribute defines the ResultFactory
							Class which will be used to create the
							Result Class. The class must implement the
							"org.milyn.smooks.mule.ResultFactory"
							interface and must have an argumentless
							constructor.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
                <xsd:attribute name="profile" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>The Smooks profile to execute. If a profile name was found on the message then that one is used.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
                <xsd:attribute name="profileMessagePropertyKey" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation> The message property to look for a possible profile name. If the property is set and the value is a string then that value is used as profile name. Default "MessageProfile".</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
                <xsd:attribute name="executionContextAsMessageProperty"
					type="mule:substitutableBoolean">
					<xsd:annotation>
						<xsd:documentation>
							If set to &quot;true&quot; then the
							attributes map of the Smooks execution
							context is added to the message properties.
							The property key is defined with the
							executionContextMessagePropertyKey property.
							Default is &quot;false&quot;
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="executionContextMessagePropertyKey"
					type="mule:substitutableName">
					<xsd:annotation>
						<xsd:documentation>
							The property key under which the execution
							context is put. Default is
							&quot;SmooksExecutionContext&quot;
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="excludeNonSerializables"
					type="mule:substitutableBoolean">
					<xsd:annotation>
						<xsd:documentation>
							If non serializable attributes need to be
							execluded when setting the Smooks execution
							context attribute map as a message
							propeperty. Default is &quot;true&quot;
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
                <xsd:attribute name="reportPath" type="xsd:string">
					<xsd:annotation>
						<xsd:documentation>
							specifies the path and file name for
							generating a Smooks Execution Report. This
							is a development tool. For more information
							see: Smooks Reporting
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
            </xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:simpleType name="resultTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="STRING"></xsd:enumeration>
			<xsd:enumeration value="BYTES"></xsd:enumeration>
			<xsd:enumeration value="JAVA"></xsd:enumeration>
			<xsd:enumeration value="RESULT"></xsd:enumeration>
			<xsd:enumeration value="NORESULT"></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>